<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <title>Muzik Türü Ekleme</title>
  </head>
  <body>
<div class="container">
   <form method="POST" action="/MuzikTurEkle">
    <h2 class="title">Muzik Türü Ekleme</h2>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Müzik Türü</label>
      </div>
      
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" name="muzikTur" />
          
          </div>
        </div>
      </div>
    </div>
    
        
    <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link">
               Kaydet
              </button>
              <button class="button">
                Çıkış
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
  
  </body>
</html>
